<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--标准日志工厂-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--<setting name="logImpl" value="LOG4J"/>-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--建议实体类少的时候使用第一种，实体类多的时候使用第二种
    第一种可以改别名，第二种默认首字母小写的类名为别名，非要改别名得使用注解-->
    <typeAliases>
        <!--<typeAlias type="com.gribbin.pojo.User" alias="User"></typeAlias>-->
        <package name="com.gribbin.pojo"/>
    </typeAliases>

</configuration>
