<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.gribbin.mapper.UserMapper">
    <select id="getUserList" resultType="user">
        select * from mybatis.User
    </select>

    <select id="addUser" parameterType="user">
        insert into mybatis.User (id, name, pwd) values (#{id},#{name},#{pwd})
    </select>

    <select id="deleteUser" parameterType="int">
        delete from mybatis.User where id = #{id}
    </select>

</mapper>